# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
myenv/
env/
venv/
.venv/

# IDE and Project files
.vscode/
.idea/
.DS_Store

# Simulation logs, models, and heavy data
logs/
log/
*check_points/
*checkpoints/
*.mp4
*.avi
*.npy
*.npz
*.csv
